* {
    text-decoration: none;
    margin: 0%;
    padding: 0px;

}
body {
    margin:0%;
    font-family:"Poppins";
}
.wrapper{
    width: 100px;
    margin: auto;
    position: relative;

}
.logo{
    
}